<!DOCTYPE html>
<html lang="en">
  <%- include('../common/head.ejs', {title: 'Users'}) %>
  <body class="bg-stone-200">
    <%- include('../common/header.ejs', {active: 'Users'}) %>
    <form
      hx-post="users/search"
      hx-target="#search-results"
      hx-indicator="#indicator"
      hx-ext="loading-states"
    >
      <%- include('./components/search.ejs') %>
      <div class="flex justify-center items-center mb-4">
        <%- include('../common/loader.ejs') %>
        <div id="search-results">
          <%- include('./components/empty-initial') %>
        </div>
      </div>
    </form>
  </body>
</html>
