<div class="flex flex-wrap items-center justify-center max-w-screen-xl mt-4">
    <button
    hx-post="/search"
    hx-target="#search-results"
    hx-indicator="#indicator"
    hx-vals='{"page": "<%= parseInt(activePage, 10) - 1 %>"}'
    hx-include="#search"
    class=" 
    bg-stone-600 hover:bg-stone-800 
    text-white hover:text-teal-500
    transition-all  
    rounded font-semibold
    w-8 h-8 ml-2 
    shadow-md hove:shadow-lg
    cursor-pointer"
    >
    &lt;
    </button>

    <% pagination.forEach(function(page){ %>
    <button
      hx-post="/search"
      hx-target="#search-results"
      hx-indicator="#indicator"
      hx-vals='{"page": "<%= page %>"}'
      hx-include="#search"
      class=" 
      <%- activePage == page ? 
      "bg-stone-800 text-white hover:text-teal-500" : 
      "bg-stone-100 text-black hover:text-white hover:bg-stone-800" %>
      transition-all 
      rounded font-semibold
      w-8 h-8 ml-2 
      shadow-md hove:shadow-lg
      cursor-pointer"
    >
      <%= page %>
    </button>
    <% }); %>

    <button
    hx-post="/search"
    hx-target="#search-results"
    hx-indicator="#indicator"
    hx-vals='{"page": "<%= parseInt(activePage, 10) + 1 %>"}'
    hx-include="#search"
    class=" 
    bg-stone-600 hover:bg-stone-800 
    text-white hover:text-teal-500
    transition-all font-semibold
    border-transparent rounded 
    w-8 h-8 ml-2 
    shadow-md hove:shadow-lg
    cursor-pointer"
    >
    &gt;
    </button>
</div>
